
<div id="chartContainer" style="padding: 0; margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 90%; width: 90%;">
</div>
 

  <script type="text/javascript">
window.setTimeout(function(){ location.reload(); }, 30000);
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
    legend: {
      horizontalAlign: "right",
      verticalAlign: "center",
      fontColor: "#777"
    },
    axisX: {
      lineThickness: 0,
      labelFormatter: function(e){ return ""; },
      tickThickness: 0
    },
    axisY: {
      lineThickness: 0,
      labelFormatter: function(e){ return ""; },
      tickThickness: 0,
      gridThickness: 0,
      minimum: 0
    },
    backgroundColor: "black",
    data: [
      <% i = 0 %>
      <% @entries.each do |k,e| %>
      {
        type: "line",
        name: "<%= k%>",
        showInLegend: true,
        color: "<%= line_color(i) %>",
        markerType: "<%= line_marker(i) %>",
        <% i += 1 %>
        dataPoints: [
        <% count = e.size %>
        <% e.each do |s| %>
          { x: <%= to_js_date(s.time) %>, y: <%= s.score -%> 
            <% if (count-=1) == 0 -%> , indexLabel: "<%= k%>" <% end -%>
          },
        <% end %>
        ]
      },
      <% end %>
    ]
 });

chart.render();
}
</script>
